@import url("BootStrap/bootstrap.css");
@import url("BootStrap/mdb.css");
@import url("FontAwesome/css/all.css");

/*#9FACC1 Color Usable*/
/*rgb 17,78,122 btn-blue*/

#content{
    width: 100%;
    
}
.bg-blue{
    background-color: #114E7A;
}
.btn-blue_{
    color:  #fff;
    background-color:  #114E7A;
    border-color: #114E7A;
}
.btn-blue_:hover {
    background-color: rgb(17, 78, 122,0.925);
}
.card-header{
    padding-left: 0;
    padding-right: 0;
}
.card-footer{
    padding-left: 0;
    padding-right: 0;
}
.card{
    padding: 0;
}
/*
.img_card{
    height: 259px;
    width: auto;
}*/
.Modal{
    background-color: rgba(0, 0,0, 0.7);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

#content{
    margin-top: 75px;
}
.animar{
    transition: all 500ms;
}
a{
    text-decoration: none;
    color: white;

}
a:hover{
    color:white;
}
.inner-addon { 
    position: relative; 
}
.inner-addon .fas {
    position: absolute;
    padding: 10px;
    /*pointer-events: none; Propiedad Mala para fas eye*/
  }
  .left-addon .fas  { left:  0px;}
  .left-addon input  { padding-left:  30px; }
  .right-addon .fas { right: 0px;}
  .right-addon input { padding-right: 30px; }

.w-90{
      width: 90%;
}.w-85{
    width: 87%;
}
.m-4_5{
    margin: 2.0rem !important;
}
.mr-2_5{
    margin-right: 0.7rem !important;
}
.FormValid{
    color: green;
}.FormInvalid{
    color: red;
}
.fa-1_5{
    font-size: 2em ; 
}
.py-1_5{
    padding-top: 0.25rem !important;
}